.box {
    height: 40px;
    width: 60px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
}


/* .round-corners {
    border-radius: 5px;
} */


.green-bg {
    background-color: rgb(100, 177, 23);
}

.orange-bg {
    background-color: rgb(204, 124, 20);   
}

.yellow-bg {
    background-color: rgb(204, 207, 30);
}

.blue-bg {
    background-color: rgb(29, 82, 161);
}

.inner-cont {
    display: flex;
    flex-wrap: wrap;
}

.boxy {
    height: 7vh;
    width: 140px;
    margin: 7px;
    border-radius: 14px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    /* font-weight: 400; */

}
