/* .box {
    background-color: blueviolet;
} */


.round-corners {
    border-radius: 5px;
}

.green-bg {
    background-color: rgb(100, 177, 23);
}

.orange-bg {
    background-color: rgb(204, 124, 20);
}

